/*0.消除默认样式*/
body,input,ol,ul,p{padding:0;
                   margin:0;
                   list-style:none}
input{
    border:1px solid transparent;
}
input:focus{
    outline:none;
}
/*0.1添加背景*/
body{background:url("../images/123.jpg") no-repeat;
     background-size:cover;
     width:100%;
     height:100%;
}
/*1.设置头部样式*/
#top{
    height:80px;
    width:1200px;
    margin:30px auto 10px;
    background:rgba(148,121,232,0.4);
}
#top img{
    width:140px;
    float:left;
    margin-top:15px;
    margin-left:10px;
}
#top p{
    width:350px;
    float:left;
    margin-top:24px;
    line-height:40px;
    font-size:26px;
    color:blue;
    margin-left:20px;
}
.clg{
    width:400px;
    height:50px;
    float:right;
    margin-right:20%;
    font-size:24px;
    color:orange;
}
/*2.主体样式*/
#main{
    width:1200px;
    height:600px;
    margin:50px auto 30px auto;
    background-color:rgba(0,0,0,0.3);

}
/*2.1左侧*/
#main .left{
    width:500px;
    float:left;
    margin-left:50px;
}
.left img{
    width:500px;
}
.left a{
    float:left;
    width:100px;
    height:50px;
    background: #997679;
    border-radius:10px;
    margin-right:20px;
    font-size:16px;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    color:blue;
}
.left a:hover{
    font-size:17px;
    background:#9a9afb;
}
.left a:link{
    color:blue;
}
.left a:visited{
    color:blue;
}
.left .register{
    margin-left:130px;
}
.right{
    margin-top:60px;
    float:left;
}
/*2.2右侧*/
#main .right{
    width:550px;
    float:left;
    margin-left:50px;
}
.right .line{
    width:600px;
    margin-bottom:40px;
    height:40px;
    line-height:40px;
}
.right form{

}
.right p{
    float:left;
    width:80px;
    font-size:16px;
    margin-right:20px;
    text-align: right;
    cursor: default;
}
.right .line>span{
    font-size:14px;
    font-weight:bold;
    color:red;
    cursor: default;
    display:none;
}
.right .line input{
    width:280px;
    height:40px;
    padding-left:5px;
    font-size:14px;
    margin-right:10px;
}
.right .line .code{
    width:180px;
}
.right .line .codebtn{
    display:inline-block;
    height:40px;
    width:93px;
    font-size:14px;
    background:lightpink;
    padding:0 5px;
    cursor:pointer;
    border-radius: 4px;
    text-align: center;
    margin-right:10px;
    border: 0;
}
.right .line .codebtn:focus{
    outline: none;
}

.right>form>input{
    height:40px;
    width:285px;
    margin-left:100px;
    font-size:17px;
    background:white;
    color:black;
    overflow: hidden;
}
.right>form>input:hover{
    font-size:18px;
    background:black;
    color:white;
}

.right .title{
    display: inline-block;
    width:200px;
    height:40px;
    margin-bottom:30px;
    margin-left:140px;
    font-size:18px;
    background:bisque;
    text-align:center;
    line-height:40px;
    border-radius: 10px;
    cursor:default;
}
.inline{
    position:relative;
    overflow:hidden;
    width:287px;
    display: inline-block;
    vertical-align: middle;
}
#codeinline{
    width:190px;
}
.line .clear{
    position:absolute;
    right:8px;
    top:12px;
    display:none;
    cursor:pointer;
}


/*3.底部*/
#bottom{
    width:1200px;
    margin:30px auto;
}
#bottom div{
	width:460px;
	margin:0 auto;
}
#bottom>div>a{
    text-decoration:underline;
}
#bottom>div>a,#bottom>div>span{
    font-size:15px;
    color:#555;
    margin-right:10px;
}