<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于兄弟论坛</title>
    <link rel="stylesheet" href="../static/css/about.css" type="text/css">
</head>
<body>
    <div id="title">
        <span>兄弟论坛</span>
        <div id="nav">
            <a id="a1" href="/login">登录</a>
            <a id="a2" href="/regist">注册</a>
        </div>
    </div>
    <div id="img"></div>
    <div id="title2">
        <p>关于我们</p>
    </div>
    <div id="main">
        <div id="left"></div>
        <div id="right"></div>
    </div>
</body>
</html>