<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的第一篇博客</title>
<!--    <title>{{params.title}}</title>-->
    <link rel="shortcut icon" href="../static/images/1.png" type="text/png">
    <link rel="stylesheet" href="../static/css/blog.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/blog.js"></script>
</head>
<body>
    <div id="top">
        <div class="topleft">
            <img class="item" src="../static/images/456.png">
            <p class="item">Bother Forum</p>
        </div>
        <div class="topcenter">
            <div class="tags">
                <a href="/">首页</a>
                <ul>
                    <a href="" class="type" style="width: 120px;">文章列表</a>
                    <ol class="type_list">
                        <li><a href="">基础应用</a></li>
                        <li><a href="">网络编程</a></li>
                        <li><a href="">应用开发</a></li>
                        <li><a href="">人工智能</a></li>
                    </ol>
                </ul>
                <a href="" class="last_a">每日推荐</a>
            </div>
        </div>
        <div class="topright">
            <img src="../static/images/message-icon.png" height="24" width="30"/>
            <p><a href="">消息</a></p>
            <img src="../static/images/write_blog.png" height="24" width="30"/>
            <p><a href="/write_blog">写博客</a></p>
            <a href="/login" class="regs">登陆</a>
            <a href="/regist" class="log">注册</a>
        </div>
        <ul>
            <li class="pic">
                <div class="img">
                    {% if params.my.img %}
                        <a href=""><img src="{{ params.my.img }}" alt=""></a>
                    {% else %}
                        <a href=""><img src="../static/images/icon.png" alt=""></a>
                    {% endif %}
                </div>
                <ol class="list">
                    <li><a href="">我的关注</a></li>
                    <li><a href="">我的收藏</a></li>
                    <li><a href="">个人中心</a></li>
                    <li><a href="">账号设置</a></li>
                </ol>
            </li>
        </ul>
    </div>
    <div id="middle">
        <div class="middleleft">
            <div class="personal">
                <div class="up">
                    <a href=""><img class="blogerimg" src="
                        {% if params.user.img %}
                            {{ params.user.img }}
                        {% else %}
                            ../static/images/1.png
                        {% endif %}
                    " alt=""></a>
                    <p class="user_name">{{ params.user.uname }}</p>
                </div>
                <div class="bottom">
                    <div class="item">
                        <p>原创</p>
                        <p class="num1">
                            {% if params.blog_num %}
                                {{ params.blog_num }}
                            {% else %}
                                0
                            {% endif %}
                        </p>
                    </div>
                    <div class="item">
                        <p>粉丝</p>
                        <p class="num2">0</p>
                    </div>
                    <div class="item no_top">
                        <p>喜欢</p>
                        <p class="num3">0</p>
                    </div>
                    <div class="item no_top">
                        <p>评论</p>
                        <p  class="num4">
                            {% if params.comment_num %}
                                {{ params.comment_num }}
                            {% else %}
                                0
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div id="banner">
                <img src="../static/images/banner1.jpg" alt="哎呀，图片搞丢了！">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <a href="javascript:void(0)" class="left"></a>
                <a href="javascript:void(0)" class="right"></a>
            </div>
            <div class="recommend"></div>
        </div>
        <div class="middlecenter">
            <div class="content">
                <div class="title">
                    <p class="name">{{ params.blog.title }}</p>
                    <span>{{ params.blog.time }}</span>
                    <a href="">{{ params.user.uname }}</a>
                    <span>阅读：3521</span>
                    <span class="tiker1">标签：</span>
                    <span class="tiker2">{{ params.blog.tags }}</span>
                    <!--<span>网络编程</span>
                    <span>大神</span>-->
                </div>
                <div class="text">
                    {% for cont in params.blog.content.split('/r/n') %}
                        <p>{{ cont }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="comment">
                <div class="img">
                    <a href=""><img src="
                        {% if params.my.img %}
                            {{ params.my.img }}
                        {% else %}
                            ../static/images/icon.png
                        {% endif %}
                    "></a>
                </div>
                <form action="/comment" method="post" enctype="application/x-www-form-urlencoded">
                    <textarea type="txt" name="comment" placeholder="想对作者说点什么?" class="comment_text" maxlength="800"></textarea>>
                    <label class="word_last">还可以输入<span>800</span>个文字</label>
                    <input class="kown" type="radio" name="comment_type" value="kown" id="kown" checked><label for="kown">公开评论</label>
                    <input class="unkown" type="radio" name="comment_type" value="unkown" id="unkown"><label for="unkown">匿名评论</label>
                    <input type="hidden" name="blog-id" value="{{ params.blog.id }}">
                    <input type="hidden" name="uid" value="{{ params.user.id }}">
                    <button>发表评论</button>
                </form>
                {% for comm in params.blog.comments %}
                    <div class="comment_contant">
                        <img src="
                            {% if params.user.img %}
                                {{ params.user.img }}
                            {% else %}
                                ../static/images/icon.png
                            {% endif %}"
                             alt="">
                        <a href="">{{ params.user.uname }}</a>
                        <span class="comment_show">{{ comm.text }}</span>
                        <span>({{ comm.time }})</span>
                        <a href="" class="first_a">举报</a>
                        <a href="">回复</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="middleright">
            <div class="mrtop">
                <div class="first_img">
                    <div class="xx">
                        <label>pathon</label>
                       <span>展现人性的风采</span>
                    </div>
                </div>
                <div class="second_img">
                    <div class="yy">
                        <label>技术宅</label>
                        <span>拥有机器的思维</span>
                    </div>
                </div>

            </div>
            <div class="mrbottom">

            </div>
        </div>
    </div>
    <div id="bottom"></div>
</body>
</html>