<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link rel="icon" href="../static/images/icon.png" type="img/png">
    <link rel="stylesheet" href="../static/css/blog_manage.css" type="text/css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/blog_manage.js"></script>
</head>
<body>
<!--顶部导航-->
    <div id="nav">
        <div id="top">
            <div class="topleft">
                <img class="item" src="../static/images/logo.png">
                <p class="item">Bother Forum</p >
            </div>
            <div class="topcenter">
                <input type="text" name="search" placeholder="请输入要搜索的内容">
                <button>搜索</button>
                <div></div>
            </div>
            <div class="topright">
                <img src="../static/images/message-icon.png" height="24" width="30"/>
                <p><a href="">消息</a></p>
                <img src="../static/images/write_blog.png" height="24" width="30"/>
                <p><a href="">写博客</a></p>
    <!--            < a href="">登陆</ a>-->
    <!--            < a href="">注册</ a>-->
            </div>
            <ul>
                <li class="pic">
                    <div class="img">
                       <img src="../static/images/icon.png">
                    </div>
                    <ol class="list">
                        <li><a href="">我的关注</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">个人中心</a></li>
                        <li><a href="">账号设置</a></li>
                    </ol>
                </li>
            </ul>
            <a href="/index" id="index">首页</a>
        </div>
    </div>
<!--标题行-->
    <div id="title">
        <h2>我的博客</h2>
    </div>
<!--主体-->
    <div id="main">
        <!--主体左侧-->
        <div id="left">
            <div id="left1">
                <a href=""><img src="" alt=""></a>
                <a href="">zhangan</a>
            </div>
            <div id="left2">
                <div>
                    <p>原创</p>
                    <p>0</p>
                </div>
                <div>
                    <p>粉丝</p>
                    <p>0</p>
                </div>
                <div>
                    <p>点赞</p>
                    <p>0</p>
                </div>
                <div>
                    <p>评论</p>
                    <p>0</p>
                </div>
            </div>
            <div id="banner">
                <img src="../static/images/blog_manage/index_banner1.jpg" alt="">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <a href="javascript:void(0)" class="left"></a>
                <a href="javascript:void(0)" class="right"></a>
            </div>
        </div>
        <!--主体右侧-->
        <div id="right">
            <div id="right-top">
                <ul>
                    <li>排序：</li>
                    <li id="filter1" class="filter">默认</li>
                    <li id="filter2" class="filter">按时间</li>
                    <li id="filter3" class="filter">按访问量</li>
                </ul>
            </div>
            <div class="list">
                <div class="delete">删除</div>
                <h4><a href="">这里是帖子标题</a></h4>
                <div>
                    <span style="color: #222;">2019年5月20日</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: #222;">评论数</span>
                    <span style="color: #33A6EF;">2140</span>
                    &nbsp;<span style="color: #222;">|</span>&nbsp;
                    <span style="color: #222;">点赞数</span>
                    <span style="color: #33A6EF;">2264</span>
                </div>
            </div>
            <div class="list">
                <div class="delete">删除</div>
                <h4><a href="">这里是帖子de 标题</a></h4>
                <div>
                    <span style="color: #222;">2019年5月20日</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: #222;">评论数</span>
                    <span style="color: #33A6EF;">2140</span>
                    &nbsp;<span style="color: #222;">|</span>&nbsp;
                    <span style="color: #222;">点赞数</span>
                    <span style="color: #33A6EF;">2264</span>
                </div>
            </div>
            <div class="list">
                <div class="delete">删除</div>
                <h4><a href="">这里是帖子标题</a></h4>
                <div>
                    <span style="color: #222;">2019年5月20日</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: #222;">评论数</span>
                    <span style="color: #33A6EF;">2140</span>
                    &nbsp;<span style="color: #222;">|</span>&nbsp;
                    <span style="color: #222;">点赞数</span>
                    <span style="color: #33A6EF;">2264</span>
                </div>
            </div>
        </div>
    </div>
<!--底部页脚-->
    <div id="footer"></div>
</body>
</html>