<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户协议</title>
    <link rel="icon" href="../static/images/icon.png" type="img/png" />
    <link rel="stylesheet" href="../static/css/protocol.css" type="text/css">
</head>
<body>
    <div id="box">
    <!--顶部-->
        <div id="logo">
            <img alt="brother forum" src="../static/images/logo.png" title="兄弟论坛">
        </div>
    <!--标题-->
        <h3>
            兄弟论坛用户协议
        </h3>
    <!--主体-->
        <div id="main">
            <p id="p1">特别提示：<br>
                您在使用各项服务之前，请您务必审慎阅读、充分理解本协议各条款内容，包括但不限于免除或者限制责任的条款。
                如您不同意本服务协议及/或随时对其的修改，您可以主动停止使用；您一旦使用，即视为您已了解并完全同意本服务协议各项内容。
            </p>
            <p>
                1.用户注册成功后，将得到一个用户帐号，用户可以自主设置帐号密码。该用户帐号和密码由用户负责保管；
                用户应当对以其用户帐号进行的所有活动和事件负法律责任。<br>
                2.用户不应将其帐号、密码转让、出售或出借予他人使用，帐号使用权仅属于初始申请注册人，
                用户应对帐号内的全部行为独立承担全部责任。<br>
                3.用户在服务时，必须遵守《网络安全法》等中华人民共和国相关法律法规的规定，
                用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为:<br>
                （1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：<br>
                &nbsp;&nbsp;&nbsp;&nbsp;1）反对宪法所确定的基本原则的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;3）损害国家荣誉和利益的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;4）煽动民族仇恨、民族歧视、破坏民族团结的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;8）侮辱或者诽谤他人，侵害他人合法权利的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;9）含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;10）含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；<br>
                （2）不得为任何非法目的而使用网络服务系统；<br>
                （3）不利用百度公司的服务从事以下活动：<br>
                &nbsp;&nbsp;&nbsp;&nbsp;1) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;2) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;3) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;4) 故意制作、传播计算机病毒等破坏性程序的；<br>
                &nbsp;&nbsp;&nbsp;&nbsp;5) 其他危害计算机信息网络安全的行为。<br>
            </p>
        </div>
    <!--底部-->
        <div id="footer">
            &copy;2019 兄弟论坛
            <a href="/index">退出</a>
        </div>
    </div>
</body>
</html>