<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brother Forum找回密码--确认账号</title>
    <link rel="shortcut icon" href="../static/images/1.png" type="text/png">
    <link rel="stylesheet" href="../static/css/reset_password.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/resetpassword.js"></script>
</head>
<body>
    <div id="top">
        <img src="../static/images/456.png">
        <p>兄弟论坛 brother forum</p>
    </div>
    <p class="clg">python改变你我，你我改变世界</p>
    <div id="main">
        <div class="left">
            <img src="../static/images/121.png"/>
            <a href="/login" class="register">用户名登陆</a>
            <a href="/regist">注册</a>
        </div>
        <div class="right">
            <span class="title">找回密码，快捷登录</span>
            <form action="/reset_pwd" method="post" enctype="multipart/form-data">
                <div class="line">
                    <p>手机号</p>
                    <div class="inline">
                        <input type="text" name="phone"
                               {% if params.code_phone %}
                                    value="{{ params.code_phone }}"
                               {% endif %}
                               maxlength="11" class="phone_input" placeholder="请输入手机号" required>
                        <img src="../static/images/input1.png" class="clear">
                    </div>
                    <span class="uphone"> </span>
                    <b style="color:red;font-size:14px;">
                        {% if params.phone_result %}
                            手机号码不正确，或尚未注册
                            <script>
                                var timer=setTimeout(function (){
                                    $(".uphone").siblings("b").css("display","none");
                                    console.log("隐藏")
                                },3000);
                                console.log("开始显示");
                                clearTimeout(timer)
                            </script>
                        {% endif %}</b>
                </div>
                <div class="line">
                    <p>验证码</p>
                    <div class="inline" id="codeinline">
                        <input type="text" name="code" maxlength="6" placeholder="请输入验证码" class="code" required>
                        <img src="../static/images/input1.png" class="clear" id="codeimg">
                    </div>
                    <button type="button" class="codebtn" onclick="getCertifyCode()">发送验证码</button>
                    <b style="color: red;font-size: 14px;">
                        {% if params.code_result %}
                            验证码不正确
                            <script>
                                var timer=setTimeout(function(){
                                    $(".uphone").css("display","none");
                                    console.log("隐藏")
                                },3000);
                                console.log("开始显示");
                                clearTimeout(timer)
                            </script>
                        {% endif %}</b>
                </div>

                <div class="line">
                    <p>设置密码</p>
                    <div class="inline">
                        <input class="first_psw" type="password" name="reset_pwd" maxlength="20" placeholder="请设置登录密码" required>
                        <img src="../static/images/input1.png" class="clear">
                    </div>
                    <span class="resetPSW">密码不得少于6位</span>
                </div>
                <div class="line">
                    <p>重复密码</p>
                    <div class="inline">
                        <input class="second_psw" type="password" name="confirm_pwd" maxlength="20" placeholder="请再次输入密码" required>
                        <img src="../static/images/input1.png" class="clear">
                    </div>
                    <span class="reputPSW">两次输入密码不一致</span>
                </div>
                <input type="submit" value="提交请求" class="but" style="text-align:center;cursor:pointer">
            </form>
        </div>
    </div>
    <div id="bottom">
		<div>
			<a href=" ">关于brother forum</a>
			<span id="copyright">Copyright &copy; 2019 </span>
			<a href="view.html">兄弟论坛</a>
		</div>

    </div>
</body>
</html>